@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&display=swap');
body {
	background-color: rgb(245, 247, 248);
	font-family: 'Kalam', cursive;
	max-width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
.taskForm {
	text-align: center;
	width: 350px;
	display: block;
}

.taskForm__title {
	color: rgb(25, 33, 135);
}
.taskForm__text {
	color: #e63838;
	font-weight: 700;
}
.taskForm__insertTask {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}
.taskForm__btn {
	width: 60px;
	margin-right: 10px;
}
.list {
	display: flex;
	flex-direction: column;
	width: 200px;
	text-align: left;
}
.list__title {
	text-align: center;
	font-weight: 400;
}
.list__form {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}
.list__item {
	display: flex;
	align-items: center;
}
.list__btn {
	width: 80px;
	height: 30px;
}

.taskText {
	color: rgb(121, 21, 21);
	font-weight: 700;
}
.taskList {
	font-weight: 400;
}
.--pending {
	color: #e63838;
}
.--done {
	color: #24950b;
}
input[type='button'],
input[type='submit'] {
	color: rgb(2, 24, 99);
	background-color: #ffffff;
	border: 1px solid rgb(41, 41, 41);
}
@media screen and (min-width: 769px) {
	.container {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		gap: 15px;
		flex-wrap: wrap;
		width: 100%;
	}
	.taskForm {
		text-align: center;
		width: 100%;
	}
	.taskForm__insertTask {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}
	.taskForm__text,
	.taskForm__input {
		margin-right: 10px;
	}
}
