@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&display=swap');
body {
	background-color: rgb(245, 247, 248);
	font-family: 'Kalam', cursive;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.form1{
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: space-around; */
  display: inline-flex;
}
.f1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
	color: rgb(25, 33, 135);
	font-weight: 700;
}
.taskText {
	color: red;
	font-weight: 700;
}
.taskList {
	font-weight: 400;
}
.--pending {
	color: #e63838;
}
.--done {
	color: #24950b;
}
input[type='button'] {
	color: rgb(2, 24, 99);
}


.div1 {
	background-color: black;
	color: aliceblue;
	width: 200px;
	margin: 0;
	height: 200px;
}
.div2 {
	margin: 0;
	background-color: red;
	width: 200px;
	height: 200px;
}
.div3 {
	margin: 0;
	background-color: blue;
	width: 200px;
	height: 200px;
}
